In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
0,7.129301e+09,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1.0
1,6.414100e+09,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,2.0
2,5.631500e+09,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0
3,2.487201e+09,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1.0
4,1.954401e+09,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21607 entries, 0 to 21606
Data columns (total 8 columns):
id             99 non-null float64
date           99 non-null object
price          99 non-null float64
bedrooms       99 non-null float64
bathrooms      99 non-null float64
sqft_living    99 non-null float64
sqft_lot       99 non-null float64
floors         99 non-null float64
dtypes: float64(7), object(1)
memory usage: 1.3+ MB

In [4]:
df.dropna(axis = 0 , inplace = True)

In [5]:
df.shape

(99, 8)

In [6]:
df.size

792

In [7]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
count,9.900000e+01,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000
mean,4.664620e+09,5.200763e+05,3.404040,1.989899,2086.383838,11478.818182,1.464646
std,2.935212e+09,3.061939e+05,0.794358,0.729236,864.592421,14655.249813,0.511363
min,1.600040e+07,1.530000e+05,2.000000,1.000000,770.000000,1044.000000,1.000000
25%,1.914950e+09,3.070000e+05,3.000000,1.500000,1410.000000,5000.000000,1.000000
50%,4.036801e+09,4.300000e+05,3.000000,2.000000,1900.000000,6720.000000,1.500000
75%,7.337325e+09,6.562500e+05,4.000000,2.500000,2570.000000,9823.000000,2.000000
max,9.822700e+09,2.000000e+06,5.000000,4.500000,5420.000000,101930.000000,3.000000

In [8]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors'],
      dtype='object')

In [9]:
df.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
            85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98],
           dtype='int64')

In [10]:
df.set_index('id', inplace = True)

In [11]:
df['sqft_living']

id
7.129301e+09    1180.0
6.414100e+09    2570.0
5.631500e+09     770.0
2.487201e+09    1960.0
1.954401e+09    1680.0
7.237550e+09    5420.0
1.321400e+09    1715.0
2.008000e+09    1060.0
2.414600e+09    1780.0
3.793500e+09    1890.0
1.736801e+09    3560.0
9.212900e+09    1160.0
1.141015e+08    1430.0
6.054650e+09    1370.0
1.175001e+09    1810.0
9.297300e+09    2950.0
1.875500e+09    1890.0
6.865200e+09    1600.0
1.600040e+07    1200.0
7.983200e+09    1250.0
6.300501e+09    1620.0
2.524049e+09    3050.0
7.137970e+09    2270.0
8.091400e+09    1070.0
3.814700e+09    2450.0
1.202000e+09    1710.0
1.794500e+09    2450.0
3.303700e+09    1400.0
5.101402e+09    1520.0
1.873100e+09    2570.0
                 ...
1.802000e+09    3200.0
1.525059e+09    4770.0
1.049000e+09    1260.0
8.820901e+09    2750.0
5.416510e+09    2380.0
3.444100e+09    1790.0
3.276920e+09    3430.0
4.036801e+09    1760.0
2.391600e+09    1040.0
6.300000e+09    1410.0
1.531000e+09    3450.0
5.104520e+09    2350.0
7.437100e+09    1900.0
9.418400e+09    2020.0
1.523059e+09    1680.0
1.133001e+09     960.0
4.232903e+09    2140.0
2.599001e+09    2660.0
3.342103e+09    2770.0
1.332700e+09    1610.0
3.869900e+09    1030.0
2.791500e+09    1980.0
5.036300e+09    3520.0
4.168000e+09    1200.0
6.021502e+09    1580.0
6.021502e+09    1580.0
1.483301e+09    3300.0
3.422049e+09    1960.0
1.099611e+09    1160.0
7.220791e+08    1810.0
Name: sqft_living, Length: 99, dtype: float64

In [12]:
df['price'].max()

2000000.0

In [13]:
df['floors'].unique()

array([1. , 2. , 1.5, 3. ])

In [14]:
df['floors'].value_counts()

1.0    49
2.0    36
1.5    12
3.0     2
Name: floors, dtype: int64

In [15]:
df['price'][df['floors'] == df['floors'].max()]

id
2.426039e+09    280000.0
9.528103e+09    549000.0
Name: price, dtype: float64

In [16]:
df.iloc[2]

date           20150225T000000
price                   180000
bedrooms                     2
bathrooms                    1
sqft_living                770
sqft_lot                 10000
floors                       1
Name: 5631500400.0, dtype: object

In [17]:
df.reset_index(inplace=True)

In [18]:
df.loc[5]

id                 7.23755e+09
date           20140512T000000
price                 1.23e+06
bedrooms                     4
bathrooms                  4.5
sqft_living               5420
sqft_lot                101930
floors                       1
Name: 5, dtype: object

In [19]:
df.rename(columns = {'sqft_living' : 'sqft_of_living'} , inplace = True)
df

,id,date,price,bedrooms,bathrooms,sqft_of_living,sqft_lot,floors
0,7.129301e+09,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1.0
1,6.414100e+09,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,2.0
2,5.631500e+09,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0
3,2.487201e+09,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1.0
4,1.954401e+09,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0
5,7.237550e+09,20140512T000000,1230000.0,4.0,4.50,5420.0,101930.0,1.0
6,1.321400e+09,20140627T000000,257500.0,3.0,2.25,1715.0,6819.0,2.0
7,2.008000e+09,20150115T000000,291850.0,3.0,1.50,1060.0,9711.0,1.0
8,2.414600e+09,20150415T000000,229500.0,3.0,1.00,1780.0,7470.0,1.0
9,3.793500e+09,20150312T000000,323000.0,3.0,2.50,1890.0,6560.0,2.0
10,1.736801e+09,20150403T000000,662500.0,3.0,2.50,3560.0,9796.0,1.0
11,9.212900e+09,20140527T000000,468000.0,2.0,1.00,1160.0,6000.0,1.0
12,1.141015e+08,20140528T000000,310000.0,3.0,1.00,1430.0,19901.0,1.5
13,6.054650e+09,20141007T000000,400000.0,3.0,1.75,1370.0,9680.0,1.0
14,1.175001e+09,20150312T000000,530000.0,5.0,2.00,1810.0,4850.0,1.5
15,9.297300e+09,20150124T000000,650000.0,4.0,3.00,2950.0,5000.0,2.0
16,1.875500e+09,20140731T000000,395000.0,3.0,2.00,1890.0,14040.0,2.0
17,6.865200e+09,20140529T000000,485000.0,4.0,1.00,1600.0,4300.0,1.5
18,1.600040e+07,20141205T000000,189000.0,2.0,1.00,1200.0,9850.0,1.0
19,7.983200e+09,20150424T000000,230000.0,3.0,1.00,1250.0,9774.0,1.0
20,6.300501e+09,20140514T000000,385000.0,4.0,1.75,1620.0,4980.0,1.0
21,2.524049e+09,20140826T000000,2000000.0,3.0,2.75,3050.0,44867.0,1.0
22,7.137970e+09,20140703T000000,285000.0,5.0,2.50,2270.0,6300.0,2.0
23,8.091400e+09,20140516T000000,252700.0,2.0,1.50,1070.0,9643.0,1.0
24,3.814700e+09,20141120T000000,329000.0,3.0,2.25,2450.0,6500.0,2.0
25,1.202000e+09,20141103T000000,233000.0,3.0,2.00,1710.0,4697.0,1.5
26,1.794500e+09,20140626T000000,937000.0,3.0,1.75,2450.0,2691.0,2.0
27,3.303700e+09,20141201T000000,667000.0,3.0,1.00,1400.0,1581.0,1.5
28,5.101402e+09,20140624T000000,438000.0,3.0,1.75,1520.0,6380.0,1.0
29,1.873100e+09,20150302T000000,719000.0,4.0,2.50,2570.0,7173.0,2.0
...,...,...,...,...,...,...,...,...
69,1.802000e+09,20140612T000000,1330000.0,5.0,2.25,3200.0,20158.0,1.0
70,1.525059e+09,20140912T000000,1040000.0,5.0,3.25,4770.0,50094.0,1.0
71,1.049000e+09,20150105T000000,325000.0,3.0,2.00,1260.0,5612.0,1.0
72,8.820901e+09,20140610T000000,571000.0,4.0,2.00,2750.0,7807.0,1.5
73,5.416510e+09,20140710T000000,360000.0,4.0,2.50,2380.0,5000.0,2.0
74,3.444100e+09,20150316T000000,349000.0,3.0,1.75,1790.0,50529.0,1.0
75,3.276920e+09,20141105T000000,832500.0,4.0,4.00,3430.0,35102.0,2.0
76,4.036801e+09,20141013T000000,380000.0,4.0,1.75,1760.0,7300.0,1.0
77,2.391600e+09,20150420T000000,480000.0,3.0,1.00,1040.0,5060.0,1.0
78,6.300000e+09,20140609T000000,410000.0,3.0,1.00,1410.0,5060.0,1.0
79,1.531000e+09,20150323T000000,720000.0,4.0,2.50,3450.0,39683.0,2.0
80,5.104520e+09,20141202T000000,390000.0,3.0,2.50,2350.0,5100.0,2.0
81,7.437100e+09,20141222T000000,360000.0,4.0,2.50,1900.0,5889.0,2.0
82,9.418400e+09,20141028T000000,355000.0,2.0,1.00,2020.0,6720.0,1.0
83,1.523059e+09,20150128T000000,356000.0,3.0,1.50,1680.0,8712.0,1.0
84,1.133001e+09,20140602T000000,315000.0,3.0,1.00,960.0,6634.0,1.0
85,4.232903e+09,20141114T000000,940000.0,3.0,1.50,2140.0,3600.0,2.0
86,2.599001e+09,20141103T000000,305000.0,5.0,2.25,2660.0,8400.0,1.5
87,3.342103e+09,20140618T000000,461000.0,3.0,3.25,2770.0,6278.0,2.0
88,1.332700e+09,20140519T000000,215000.0,2.0,2.25,1610.0,2040.0,2.0
89,3.869900e+09,20140904T000000,335000.0,2.0,1.75,1030.0,1066.0,2.0
90,2.791500e+09,20140522T000000,243500.0,4.0,2.50,1980.0,7403.0,2.0
91,5.036300e+09,20150311T000000,1100000.0,5.0,2.75,3520.0,6353.0,2.0
92,4.168000e+09,20150226T000000,153000.0,3.0,1.00,1200.0,10500.0,1.0
93,6.021502e+09,20140725T000000,430000.0,3.0,1.50,1580.0,5000.0,1.0
94,6.021502e+09,20141223T000000,700000.0,3.0,1.50,1580.0,5000.0,1.0
95,1.483301e+09,20140908T000000,905000.0,4.0,2.50,3300.0,10250.0,1.0
96,3.422049e+09,20150330T000000,247500.0,3.0,1.75,1960.0,15681.0,1.0
97,1.099611e+09,20140912T000000,199000.0,4.0,1.50,1160.0,6400.0,1.0
98,7.220791e+08,20140711T000000,314000.0,3.0,1.75,1810.0,41800.0,1.0

In [20]:
dummies = pd.get_dummies(df.floors)

In [21]:
df = pd.concat([df,dummies],axis='columns')

In [22]:
df = df.drop(['floors'], axis='columns') 
df

,id,date,price,bedrooms,bathrooms,sqft_of_living,sqft_lot,1.0,1.5,2.0,3.0
0,7.129301e+09,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1,0,0,0
1,6.414100e+09,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,0,0,1,0
2,5.631500e+09,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1,0,0,0
3,2.487201e+09,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1,0,0,0
4,1.954401e+09,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1,0,0,0
5,7.237550e+09,20140512T000000,1230000.0,4.0,4.50,5420.0,101930.0,1,0,0,0
6,1.321400e+09,20140627T000000,257500.0,3.0,2.25,1715.0,6819.0,0,0,1,0
7,2.008000e+09,20150115T000000,291850.0,3.0,1.50,1060.0,9711.0,1,0,0,0
8,2.414600e+09,20150415T000000,229500.0,3.0,1.00,1780.0,7470.0,1,0,0,0
9,3.793500e+09,20150312T000000,323000.0,3.0,2.50,1890.0,6560.0,0,0,1,0
10,1.736801e+09,20150403T000000,662500.0,3.0,2.50,3560.0,9796.0,1,0,0,0
11,9.212900e+09,20140527T000000,468000.0,2.0,1.00,1160.0,6000.0,1,0,0,0
12,1.141015e+08,20140528T000000,310000.0,3.0,1.00,1430.0,19901.0,0,1,0,0
13,6.054650e+09,20141007T000000,400000.0,3.0,1.75,1370.0,9680.0,1,0,0,0
14,1.175001e+09,20150312T000000,530000.0,5.0,2.00,1810.0,4850.0,0,1,0,0
15,9.297300e+09,20150124T000000,650000.0,4.0,3.00,2950.0,5000.0,0,0,1,0
16,1.875500e+09,20140731T000000,395000.0,3.0,2.00,1890.0,14040.0,0,0,1,0
17,6.865200e+09,20140529T000000,485000.0,4.0,1.00,1600.0,4300.0,0,1,0,0
18,1.600040e+07,20141205T000000,189000.0,2.0,1.00,1200.0,9850.0,1,0,0,0
19,7.983200e+09,20150424T000000,230000.0,3.0,1.00,1250.0,9774.0,1,0,0,0
20,6.300501e+09,20140514T000000,385000.0,4.0,1.75,1620.0,4980.0,1,0,0,0
21,2.524049e+09,20140826T000000,2000000.0,3.0,2.75,3050.0,44867.0,1,0,0,0
22,7.137970e+09,20140703T000000,285000.0,5.0,2.50,2270.0,6300.0,0,0,1,0
23,8.091400e+09,20140516T000000,252700.0,2.0,1.50,1070.0,9643.0,1,0,0,0
24,3.814700e+09,20141120T000000,329000.0,3.0,2.25,2450.0,6500.0,0,0,1,0
25,1.202000e+09,20141103T000000,233000.0,3.0,2.00,1710.0,4697.0,0,1,0,0
26,1.794500e+09,20140626T000000,937000.0,3.0,1.75,2450.0,2691.0,0,0,1,0
27,3.303700e+09,20141201T000000,667000.0,3.0,1.00,1400.0,1581.0,0,1,0,0
28,5.101402e+09,20140624T000000,438000.0,3.0,1.75,1520.0,6380.0,1,0,0,0
29,1.873100e+09,20150302T000000,719000.0,4.0,2.50,2570.0,7173.0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
69,1.802000e+09,20140612T000000,1330000.0,5.0,2.25,3200.0,20158.0,1,0,0,0
70,1.525059e+09,20140912T000000,1040000.0,5.0,3.25,4770.0,50094.0,1,0,0,0
71,1.049000e+09,20150105T000000,325000.0,3.0,2.00,1260.0,5612.0,1,0,0,0
72,8.820901e+09,20140610T000000,571000.0,4.0,2.00,2750.0,7807.0,0,1,0,0
73,5.416510e+09,20140710T000000,360000.0,4.0,2.50,2380.0,5000.0,0,0,1,0
74,3.444100e+09,20150316T000000,349000.0,3.0,1.75,1790.0,50529.0,1,0,0,0
75,3.276920e+09,20141105T000000,832500.0,4.0,4.00,3430.0,35102.0,0,0,1,0
76,4.036801e+09,20141013T000000,380000.0,4.0,1.75,1760.0,7300.0,1,0,0,0
77,2.391600e+09,20150420T000000,480000.0,3.0,1.00,1040.0,5060.0,1,0,0,0
78,6.300000e+09,20140609T000000,410000.0,3.0,1.00,1410.0,5060.0,1,0,0,0
79,1.531000e+09,20150323T000000,720000.0,4.0,2.50,3450.0,39683.0,0,0,1,0
80,5.104520e+09,20141202T000000,390000.0,3.0,2.50,2350.0,5100.0,0,0,1,0
81,7.437100e+09,20141222T000000,360000.0,4.0,2.50,1900.0,5889.0,0,0,1,0
82,9.418400e+09,20141028T000000,355000.0,2.0,1.00,2020.0,6720.0,1,0,0,0
83,1.523059e+09,20150128T000000,356000.0,3.0,1.50,1680.0,8712.0,1,0,0,0
84,1.133001e+09,20140602T000000,315000.0,3.0,1.00,960.0,6634.0,1,0,0,0
85,4.232903e+09,20141114T000000,940000.0,3.0,1.50,2140.0,3600.0,0,0,1,0
86,2.599001e+09,20141103T000000,305000.0,5.0,2.25,2660.0,8400.0,0,1,0,0
87,3.342103e+09,20140618T000000,461000.0,3.0,3.25,2770.0,6278.0,0,0,1,0
88,1.332700e+09,20140519T000000,215000.0,2.0,2.25,1610.0,2040.0,0,0,1,0
89,3.869900e+09,20140904T000000,335000.0,2.0,1.75,1030.0,1066.0,0,0,1,0
90,2.791500e+09,20140522T000000,243500.0,4.0,2.50,1980.0,7403.0,0,0,1,0
91,5.036300e+09,20150311T000000,1100000.0,5.0,2.75,3520.0,6353.0,0,0,1,0
92,4.168000e+09,20150226T000000,153000.0,3.0,1.00,1200.0,10500.0,1,0,0,0
93,6.021502e+09,20140725T000000,430000.0,3.0,1.50,1580.0,5000.0,1,0,0,0
94,6.021502e+09,20141223T000000,700000.0,3.0,1.50,1580.0,5000.0,1,0,0,0
95,1.483301e+09,20140908T000000,905000.0,4.0,2.50,3300.0,10250.0,1,0,0,0
96,3.422049e+09,20150330T000000,247500.0,3.0,1.75,1960.0,15681.0,1,0,0,0
97,1.099611e+09,20140912T000000,199000.0,4.0,1.50,1160.0,6400.0,1,0,0,0
98,7.220791e+08,20140711T000000,314000.0,3.0,1.75,1810.0,41800.0,1,0,0,0

In [23]:
X = df.drop('price' , axis ='columns')
X.head()

,id,date,bedrooms,bathrooms,sqft_of_living,sqft_lot,1.0,1.5,2.0,3.0
0,7.129301e+09,20141013T000000,3.0,1.00,1180.0,5650.0,1,0,0,0
1,6.414100e+09,20141209T000000,3.0,2.25,2570.0,7242.0,0,0,1,0
2,5.631500e+09,20150225T000000,2.0,1.00,770.0,10000.0,1,0,0,0
3,2.487201e+09,20141209T000000,4.0,3.00,1960.0,5000.0,1,0,0,0
4,1.954401e+09,20150218T000000,3.0,2.00,1680.0,8080.0,1,0,0,0

In [24]:
Y = df.price
Y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [26]:
X_train.shape

(66, 10)